@import '../../index.scss';

.container {
    @extend .center;
    gap: 2em;
    width: 100%;
    position: relative;

    .right,
    .left {
        color: #fff;
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
    }

    .right {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .left {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.avatars {
    @extend .center;
    flex-direction: row;
    width: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-left: 45%;

    &>img {
        width: 5em;
        height: 5em;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 0 5px;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease;

        &.selected {
            border-color: var(--blue-color);
            box-shadow: 0 0 10px var(--blue-color);
            width: 6em;
            height: 6em;
        }
    }
}

.buttons {
    @extend .center;
    flex-direction: row;
    gap: 2rem;
    &>button {
        @extend .bigButtom;

    }
}

@media only screen and (max-width: 350px) {
    .avatars {
        width: 200px;
        padding-left: 100px;
        &>img {
            height: 70px;
            width: 70px;
            aspect-ratio: 1/1;
            &.selected {
                height: 90px;
            }
        }
    }
}