@import '../../index.scss';

.container {
    @extend .center;
    padding: 2em;
    gap: 2em;
    position: relative;
    text-shadow: 1px 1px 3px var(--light-sand-color);

    .images {
        @extend .center;
        position: relative;
        margin-top: 40px;

        .right {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        .left {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

    }


    .right,
    .left {
        color: #fff;
        font-size: 40px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;

    }


}

.header{
    @extend .center;
}

.name {
    background-color: #fff;
    @extend .frame;
    width: 60%;
    // max-width: 150px;
    padding: 10px;

    &>input {
        font-size: 25px;
      width: 90%;
    }
}

.avatars {
    @extend .center;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom: 2em;


    &>img {
        width: 5em;
        height: 5em;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin: 0 5px;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease;

        &.selected {
            border-color: var(--blue-color);
            box-shadow: 0 0 10px var(--blue-color);
            width: 6em;
            height: 6em;
        }
    }
}

.buttons {
    @extend .center;
    flex-direction: row;
    gap: 2rem;

    &>button {
        @extend .bigButtom;

    }
}


@media only screen and (max-width: 350px) {
    .images{
        width: 80%;
    }
    .avatars {
        width: 200px;
        padding-left: 100px;

        &>img {
            height: 50px;
            width: 50px;
            aspect-ratio: 1/1;

            &.selected {
                height: 70px;
            }
        }
    }
}