@import '../../index.scss'; 

.inRound {
display: none;
}

.button{
    @extend .bigButtom;
}

.startRound {
    width: 100vw;
    height: 100vh;
    position: fixed; /* שינוי ל-fixed */
    top: 0; /* קביעה של מיקום העליון */
    left: 0; /* קביעה של מיקום השמאלי */
    @extend .center;
    background-color: #02020233;
    backdrop-filter: blur(10px);
    z-index: 1000;
}


.cards{
    @extend .center;
    flex-direction: row;
}